<!-- Code has been inspired by the model code in CS 340 (although altered significantly) -->

<!doctype html>
<html>
<head>
	<title>Restaurant Review DB</title>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->

    <!-- Bootstrap and Carousel help from https://www.w3schools.com/bootstrap/bootstrap_get_started.asp -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    {{#each jsscripts}}
    <script src="/{{this}}"></script>
    {{/each}}


    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
    <br>
	   <table>
        <tbody>
            <tr id="test">
                <td class="menucell"><a href="/">Home</a></td>
                <td class="menucell"><a href="/restaurant">Restaurant</a></td>
                <td class="menucell"><a href="/user">User</a></td>
                <td class="menucell"><a href="/visit">Visit</a></td>
                <td class="menucell"><a href="/user_visit">User Visit</a></td>
                <td class="menucell"><a href="/restaurant_review">Restaurant Review</a></td>
                <td class="menucell"><a href="/menu_item">Menu Item</a></td>
                <td class="menucell"><a href="/menu_item_review">Menu Item Review</a></td>
                <td class="menucell"><a href="/cuisine">Cuisine</a></td>
                <td class="menucell"><a href="/restaurant_cuisine">Restaurant Cuisine</a></td>
            </tr>
        </tbody>
    </table>


	{{{body}}}

    <br><br>
    <script src="/menubar.js"></script>
</body>
</html>